<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
  <!-- ## for client-side less
  <link rel="stylesheet/less" type="text/css" href="{{ SITEURL }}/theme/css/style.less">
  <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js" type="text/javascript"></script>
  -->
  <link rel="icon" type="image/vnd.microsoft.icon" href="{{ SITEURL }}/{{ FAVICON }}">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css?md5={{ STYLE_CSS_MD5 }}">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:regular,i,b|Fira+Code">
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/fontawesome-all.min.css">
  {% if CUSTOM_CSS_URL %}
  <link rel="stylesheet" type="text/css" href="{{ CUSTOM_CSS_URL }}">
  {% endif %}


  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ AUTHOR }}">

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS" />
  {% endif %}

  {% block head %}
  {% endblock %}

  <title>
    {{ SITENAME }}
    {% block title %}{% endblock %}
  </title>

  {% include "modules/analytics.html" %}
  {%- if CUSTOM_HEADER_HTML %}
      {{ CUSTOM_HEADER_HTML }}
  {% endif -%}
</head>

<body>
  <main>
    <header>
      <div class="site-name">
        <a href="{{ SITEURL }}/">{{ SITENAME }}</a>
      </div>
      <p>
      <a href="{{ SITEURL }}/index.html">Posts</a>{# to prevent extra whitespace
      #}{#<span class="separator"></span><a href="{{ SITEURL }}/categories.html">Categories</a>#}
      {%- if DISPLAY_PAGES_ON_MENU %}{% for p in pages -%}
        <span class="separator"></span><a href="{{ SITEURL }}/{{ p.url }}" title="{{ p.title }}">{{p.title}}</a>
      {%- endfor %}{% endif %}
      {% block header %}
      {% endblock header %}
      </p>
    </header>

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

  </main>
    <footer>
      {% if DISPLAY_LOGO %}
      <div class="author__logo">
          {% if USER_LOGO_URL %}
          <img src="{{ USER_LOGO_URL }}" alt="logo">
          {% else %}
          <img src="{{ SITEURL }}/theme/images/logo.png" alt="logo">
          {% endif %}
      </div>
      {% endif %}
      <section class="author">
        <div class="author__name">
          <a href="{{ SITEURL }}/pages/about.html">{{ AUTHOR }}</a>
          <p>{{ TAGLINE }}</p>
        </div>
        <div class="author__link">
          <ul>
            {% for name, link in LINKS %}
            <li><a href="{{ link }}" title="{{ name }}"><i class="fab fa-link"></i></a></li>
            {% endfor %}
            {% for name, link in SOCIAL %}
            <li>
              <a href="{{ link }}" target="_blank" title="{{ name }}">
              {% if name == 'twitter' %}
                <i class="fab fa-twitter-square"></i>
              {% elif name == 'github' %}
                <i class="fab fa-github-square"></i>
              {% elif name == 'facebook' %}
                <i class="fab fa-facebook-square"></i>
              {% elif name == 'hatebu' %}
                <i class="fab fa-hatebu-square"></i>
              {% elif name == 'bitbucket' %}
                <i class="fab fa-bitbucket-square"></i>
              {% elif name == 'instagram' %}
                <i class="fab fa-instagram"></i>
              {% elif name == 'linkedin' %}
                <i class="fab fa-linkedin-square"></i>
              {% endif %}
              </a>
            </li>
            {% endfor %}
            {% if FEED_ALL_ATOM %}
            <li>
              <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" target="_blank" title="Feed">
                <i class="fas fa-rss-square"></i>
              </a>
            </li>
            {% elif FEED_ALL_RSS %}
            <li>
              <a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" target="_blank" title="Feed">
                <i class="fas fa-rss-square"></i>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </section>
      <div class="ending-message">
        <p>&copy; {{ AUTHOR }}. Powered by <a href="http://getpelican.com" target="_blank">Pelican</a>, with theme based on <a href="https://github.com/laughk/pelican-hss" target="_blank">HSS</a> and <a href="https://tonsky.me">Tonsky’s</a>.</p>
      </div>
    </footer>
</body>
</html>
