{% extends "base.html" %}
{% block content %}
<article class="index">
  <div class="article__text">
  <dl>
    {% for article in articles_page.object_list %}
    <dd class="article__title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
    <dt class="spaced_li">{{ article.locale_date }}</dt>

    {#  <div class="article__text">
    {{ article.summary }}
    </div>#}
    {% endfor %}
  </dl>
  </div>
</article>
{% endblock %}

{% block footer %}
  {% include "modules/pagination.html" %}
{% endblock %}
