{% extends "base.html" %}
{% block content %}
<article>
  <div class="article__text">
  <dl>
    {% for article in articles_page.object_list %}
    <dt>{{ article.locale_date }}</dt>
    <dd class="article__title spaced_li"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
    {#  <div class="article__text">
    {{ article.summary }}
    </div>#}
    {% endfor %}
  </dl>
  </div>
</article>
{% endblock %}

{% block footer %}
  {% include "modules/pagination.html" %}
{% endblock %}
